.home__page {
  padding-top: 1.5rem;
}
.home__page .food__type__box {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-around;
}
.home__page .pizza__card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__page .home__page__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
