@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
:root {
  --dark-color: #191919;
  --yellow-color: #ff7010;
  --red-color: #e23535;
  --grey-color: #a5a5a5;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
html {
  font-size: 62.5%;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}
.container {
  width: 100%;
  max-width: 1290px !important;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
